@use '../config/variables' as var;

.fv {
    overflow: hidden;

    &__inner{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 50px);
        min-height: 600px;
        background: url(../img/fv_pc.jpg) center / cover no-repeat;
        animation: fade 1.5s ease-in forwards;

        @include var.breakPoint("under-600") {
            height: 600px;
        }

        @include var.breakPoint("tb") {
            height: auto;
            min-height: inherit;
            padding: 180px 20px 80px;
            background: url(../img/fv_sp.jpg) center / cover no-repeat;
        }

    }

    &__cont {
        position: absolute;
        top: 26%;
        left: 10%;

        @include var.breakPoint("under-600") {
            top: 20%;
        }

        @include var.breakPoint("tb") {
            position: static;
        }

    }

    &__ttl {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5;
        transition: 2s;

        &._show {
            animation: fade 2s ease-in forwards;
        }

        @include var.breakPoint("under-600") {
            font-size: 26px;
        }

        @include var.breakPoint("tb") {
            font-size: 18px;
        }

        span{
            font-weight: 600;
            font-size: 32px;

            @include var.breakPoint("under-600") {
                font-size: 26px;
            }

            @include var.breakPoint("tb") {
                font-size: 18px;
            }
        }
    }

    &__txt {
        margin: 20px 0 40px;
        font-size: 16px;
        line-height: 1.8;

        &._show {
            animation: fade 3s ease-in forwards;
        }

        @include var.breakPoint("tb") {
            font-size: 14px;
        }
    }

    &__points {
        display: flex;
    }

    &__point {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background: var.$theme-gradation;

        &--01 {
            animation: fade 3.5s ease-in forwards;
        }

        &--02 {
            animation: fade 4s ease-in forwards;
        }

        &--03 {
            animation: fade 4.5s ease-in forwards;
        }

        @include var.breakPoint("tb") {
            width: 100px;
            height: 100px;
        }

        &:nth-child(2){
            margin: 0 15px;
        }

        &-cont ,&-cont--large{
            position: relative;
            font-family: var.$noto-serif;
            color: #fff;
            text-align: center;
            letter-spacing: .05em;
        }

        &-cont {
            font-size: 15px;
            top: -1px;

            @include var.breakPoint("tb") {
                font-size: 12px;
            }

            &--large{
                top: 1px;
                font-size: 20px;
                font-weight: 600;

                @include var.breakPoint("tb") {
                    font-size: 16px;
                }
            }
        }
    }

    &__outer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        top: -50px;
        background: var.$theme-gradation;
        width: 78.5%;
        height: 100px;
        padding: 20px 120px 20px 20px;
        animation: slideIn 5s ease-in forwards;

            @include var.breakPoint("inner") {
                justify-content: center;
                padding: 20px;
            }

            @include var.breakPoint("tb") {
                display: none;
                top: 0;
            }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;

        li {
            margin-left: 60px;

            @include var.breakPoint("inner") {
                margin-left: 30px;
            }

            a{
                font-size: 16px;
                color: #fff;
                letter-spacing: .05em;
                transition: .5s;

                &:hover {
                    color: var.$dark-green;
                }

                @include var.breakPoint("inner") {
                    font-size: 14px;
                }
            }
        }
    }

    @keyframes fade {

        0% {
            filter: blur(100px);
            opacity: 0;
        }

        100% {
            filter: blur(0px);
            opacity: 1;
        }

    }
    @keyframes slideIn {

        0% {
            //filter: blur(100px);
            transform: translateX(-100%);
            opacity: 0;
        }

        80% {
            //filter: blur(100px);
            transform: translateX(-100%);
            opacity: 0;
        }


        100% {
            //filter: blur(0px);
            transform: translateY(0);
            opacity: 1;
        }
    }

}