@use '../config/variables' as var;

.info {
    margin: 0 0 200px;
    overflow: hidden;

    @include var.breakPoint("tb") {
        margin: 0 0 100px;
    }

    &__ttl02 {

        @include var.breakPoint("tb") {
            width: calc(100% - 50px);
        }

        &-inner {
            @include var.breakPoint("inner+20") {
                padding: 0 0 0 20px;
            }

            @include var.breakPoint("tb") {
                padding: 0 0 0 10px;
            }
        }
    }

    &__overview{
        position: relative;
        background: var.$bg-left-gradation;
        padding: 50px 0;
        margin: 0 0 120px;

        @include var.breakPoint("tb") {
            margin: 0 0 50px;
            padding: 35px 0;
            background: var.$bg-left-gradation-sp;
        }

        &::after{
            position: absolute;
            content: "About";
            top: 20px;
            left: calc(50% + 60px);
            font-size: 90px;
            font-family: var.$noto-serif;
            color: #fff;

            @include var.breakPoint("tb") {
                top: -24px;
                left: auto;
                right: 10px;
                font-size: 53px;
            }
        }

        &-cont {
            display: flex;
            justify-content: right;

            @include var.breakPoint("tb") {
                flex-direction: column-reverse;
            }
        }

        &-detail {
            width: 550px;
            margin: 0 50px 0 0;
            padding: 30px;
            background: var.$bg-white-gradation;

            @include var.breakPoint("inner") {
                width: 90%;
                padding: 30px 20px;
            }

            @include var.breakPoint("tb") {
                padding: 0;
                padding: 20px 10px;
                margin: 25px 30px 0 0;
                width: calc(100% - 20px);
            }
        }

        &-img{
            width: calc(50% - 50px);
            box-shadow: 10px 10px 0px #AABEAA;
            line-height: 0;

            @include var.breakPoint("inner") {
                width: calc(100% - 30px);
            }

            @include var.breakPoint("tb") {
                width: 90%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-txt {
            display: block;
            margin: 30px 0 0;
            line-height: 1.7;
        }
    }

    &__access, &__contact{

        &-ttl{
            margin: 0 0 50px;

            @include var.breakPoint("tb") {
                margin: 0 0 30px;
            }
        }

        &-item{
            display: flex;
            justify-content: space-between;

            @include var.breakPoint("tb") {
                display: block;
            }

            &--01{
                margin: 0 0 50px;
            }
        }

        &-ttl02 {
            display: block;
            width: 130px;
            margin: 0 40px 0 0;
            padding: 8px 10px;
            text-align: center;
            background: var.$theme-gradation;
            font-family: var.$noto-serif;
            color: #fff;

            @include var.breakPoint("tb") {
                margin: 0 0 10px;
            }
        }

        &-txt, &-gmap, &-phone, &-linebnr{
            width: calc(100% - 170px);

            @include var.breakPoint("tb") {
                width: 100%;
            }
        }

    }

    &__access {
        margin: 0 auto 100px;

        @include var.breakPoint("tb") {
            margin: 0 auto 80px;
        }

        &-ttl02 {
            height: 40px;
        }

        &-txt{
            line-height: 1.6;

            &--green{
                font-weight: bold;
            }
        }

        &-gmap{
            height: 250px;
        }

    }

    &__contact{

        &-ttl02 {
            height: 65px;

            @include var.breakPoint("tb") {
                height: 55px;
            }
        }

        &-phone {
            display: flex;
            padding: 20px;
            background: var.$bg-green;

            @include var.breakPoint("inner") {
                display: block;
                padding: 10px 20px;
            }

            &-number {
                margin: 0 40px 0 0;
                height: 100px;
                width: 425px;
                background: #fff;

                @include var.breakPoint("inner") {
                    width: 280px;
                    margin: 0 auto 20px;
                }

                &::after{
                    width: 25px;
                    height: 32px;
                    left: 19px;
                }

                &--number {
                    padding-left: 40px;
                    font-size: 32px;
                }

                &--time01{
                    margin: 7px 0 5px 23px;
                    font-size: 13px;
                    line-height: 1.6;
                    color: var.$dark-green;
                    text-indent: -1em;
                    padding-left: 1em;
                }
            }
        }

        &-calendar{
            width: 100%;
            border-collapse: collapse;

            &-line {
                height: 33.3px;

                &--02,&--03{
                    border-top: solid 1px var.$dark-green;
                }
            }

            &-th, &-td{
                letter-spacing: .05em;
                text-align: center;
            }

            &-td {

                img {
                    width: 15px;

                    @include var.breakPoint("tb") {
                        width: 12px;
                    }
                }
            }

            &-none {
                position: relative;
                top: -6px;

                @include var.breakPoint("tb") {
                    top: -4px;
                }
            }
        }

        &-linebnr{
            transition: .5s;

            &:hover {
                opacity: .5;
            }
        }
    }
}