@use '../config/variables' as var;

.news{
    overflow: hidden;
    padding: 90px 0 245px;

    @include var.breakPoint("inner") {
        padding: 90px 0 120px;
    }

    &__ttl{

        @include var.breakPoint("tb") {
            padding: 0 5px;
        }

        &-inner{
            position: relative;
            padding: 10px 20px;
            width: 260px;
            height: 70px;
            background: var.$theme-gradation;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            z-index: 1;
            top: 35px;

            @include var.breakPoint("inner") {
                margin: 0 0 0 50px;
            }

            @include var.breakPoint("tb") {
                width: 200px;
                height: 60px;
                margin: 0;
            }

            &--en, &--ja{
                font-weight: normal;
                font-family: var.$noto-serif;
                color: #fff;
            }

            &::before{
                content: "News";
                position: absolute;
                top: -100px;
                left: 0;
                font-size: 80px;
                font-weight: normal;
                font-family: var.$noto-serif;
                color: var.$ttl-bg-green;

                @include var.breakPoint("tb") {
                    font-size: 65px;
                    top: -80px;
                }
            }

            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: 20px;
                width: 120px;
                height: 4px;
                border-bottom: solid 1px #fff;
                border-right: solid 2px #fff;
                transform: skew(70deg);

                @include var.breakPoint("tb") {
                    width: 70px;
                    right: 10px;
                }
            }
        }
    }

    &__cont {
        display: flex;
        justify-content: right;
        width: 100%;
        padding: 50px 0 40px 50px;
        background: var.$bg-right-gradation;

        @include var.breakPoint("inner") {
            background: var.$bg-right-gradation-inner;
            padding: 40px 80px 30px 40px;
        }

        @include var.breakPoint("tb") {
            background: var.$bg-right-gradation-sp;
            padding: 50px 10px 40px;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: right;
            width: 1100px;

            @include var.breakPoint("inner") {
                width: 100%;
                margin-left: auto;
            }
        }

        &-items {
            display: block;
            max-width: 755px;
            margin-left: auto;

            @include var.breakPoint("inner") {
                max-width: 80%;
            }

            @include var.breakPoint("tb") {
                max-width: 100%;
            }
        }

        &-item {
            display: flex;

            @include var.breakPoint("inner") {
                justify-content: end;
            }
            
            a {
                width: 755px;
                padding: 15px 0 15px 20px;
                border-bottom: solid 1px var.$dark-green;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: .5s;

                @include var.breakPoint("inner") {
                    max-width: 80%;
                }

                @include var.breakPoint("tb") {
                    font-size: 14px;
                    max-width: 85%;
                    padding: 15px 0;
                }

                &:hover {
                    color: var.$dark-green;
                    font-weight: 600;
                }
            }

            &--date {
                margin: 0 20px 0 0;
                font-weight: 600;
                color: var.$dark-green;

                @include var.breakPoint("tb") {
                    margin: 0 15px;
                    font-size: 14px;
                }
            }
        }

        &-btn {
            margin: 30px 0 0;
        }

    }

}