@use '../config/variables' as var;

.staff {
    overflow: hidden;

    &__cont {
        padding: 120px 0;
        background: var.$bg-green;

         @include var.breakPoint("tb") {
            padding: 80px 0;
         }
    }

    &__director {
        margin: 0 0 140px;
        display: flex;

        @include var.breakPoint("tb") {
            margin: 0 0 100px;
            display: block;
        }

        &-left, &-right {
            width: 50%;
        }

        &-left {

            @include var.breakPoint("inner") {
                width: 40%;
            }

            @include var.breakPoint("tb") {
                position: relative;
                width: 100%;
                background: linear-gradient(to top, #fff 0%,#fff 40%,transparent 40%,transparent 100%);
            }
        }

        &-right {
            padding: 50px 0 50px 30px;
            background: var.$bg-white-gradation;

            @include var.breakPoint("inner+20") {
                padding: 50px 0 50px 20px;
            }

            @include var.breakPoint("inner") {
                width: 60%;
            }

            @include var.breakPoint("tb") {
                padding: 30px 0;
                background: #fff;
                width: 100%;
            }
        }

        &-img {
            width: 360px;
            height: 450px;
            line-height: 0;
            margin: 0 95px 0 auto;
            box-shadow: 10px 10px 0px #AABEAA;

            @include var.breakPoint("inner") {
                margin: 0 50px 0 auto;
                width: 250px;
                height: 330px;

            }

            @include var.breakPoint("tb") {
                margin: 0 auto;
                width: 230px;
                height: 300px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            display: block;
            position: relative;
            border-bottom: solid 1px var.$dark-green;
            margin: 0 0 40px;
            padding: 0 0 20px;

            @include var.breakPoint("tb") {
                margin: 0 20px 60px;
                padding: 0 0 10px;
            }

            &--position {
                position: absolute;
                top: -65px;
                left: -50px;
                padding: 5px 20px;
                background: var.$theme-gradation;
                line-height: 1.7;
                letter-spacing: .05em;
                font-size: 14px;
                color: #fff;

                @include var.breakPoint("tb") {
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                }
            }

            &--ja {
                position: relative;
                z-index: 1;
                color: var.$dark-green;
                font-size: 20px;
                letter-spacing: .3em;

                @include var.breakPoint("tb") {
                    display: block;
                    position: static;
                    text-align: center;
                    font-size: 18px;
                }
            }

            &--en {
                position: absolute;
                bottom: 15px;
                left: 250px;
                font-size: 34px;
                font-weight: normal;
                color: var.$ttl-bg-green;
                white-space: nowrap;

                @include var.breakPoint("inner") {
                    left: inherit;
                    right: 20px;
                }

                @include var.breakPoint("tb") {
                    bottom: -40px;
                    left: 50%;
                    right: inherit;
                    transform: translateX(-50%);
                    font-size: 28px;
                }
            }

        }

        &-message,&-history{
            max-width: 515px;

            @include var.breakPoint("inner+20") {
                padding: 0 10px 0 0;
            }

            @include var.breakPoint("tb") {
                padding: 0 10px;
            }
        }

        &-message {
            margin: 0 0 40px;
        }

        &-ttl {

            &--en {
                margin: 0 0 15px;
                display: inline-block;
                width: 90px;
                text-align: center;
                padding: 5px;
                background: var.$theme-gradation;
                line-height: 1.7;
                font-size: 14px;
                color: #fff;

                @include var.breakPoint("tb"){
                    width: 75px;
                    padding: 3px;
                    font-size: 12px;
                }
            }

            &--ja {
                display: block;
                margin: 0 0 20px;
                font-size: 18px;
                letter-spacing: .1em;
                line-height: 1.7;
                text-indent: -1em;
                padding-left: 1em;
                color: var.$dark-green;

                @include var.breakPoint("tb") {
                    margin: 0 0 10px;
                    font-size: 16px;
                }
            }
        }

        &-dl {
            display: flex;
            flex-wrap: wrap;
        }

        &-dt,&-dd{
            line-height: 1.6;
            color: var.$dark-green;
        }

        &-dt {
            border-right: solid 1px var.$dark-green;
            width: 100px;
            padding: 5px 20px 5px 0;
            font-weight: bold;
            letter-spacing: .08em;

            @include var.breakPoint("tb"){
                padding: 5px 10px 5px 0;
                width: 80px;
            }
        }

        &-dd {
            padding: 5px 0 5px 20px;
            width: calc(100% - 100px);

            @include var.breakPoint("tb"){
                padding: 5px 0 5px 10px;
                width: calc(100% - 80px);
            }
        }
    }

    &__worker {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include var.breakPoint("sp"){
            justify-content: center;
        }



        &-item {
            margin: 0 0 100px;
            padding: 0 45px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 330px;
            background: linear-gradient(to top, #fff 0%,#fff calc(100% - 50px),transparent calc(100% - 50px),transparent 100%);

            @include var.breakPoint("inner"){
                padding: 0 30px 30px;
                width: calc(95% / 3);
            }

            @include var.breakPoint("tb"){
                width: calc(48%);
            }

            @include var.breakPoint("sp"){
                margin: 0 0 50px;
                width: 80%;
            }
        }

        &-img {
            margin: 0 auto 30px;
            width: 170px;
            height: 220px;
            line-height: 0;
            box-shadow: 5px 5px 0px #AABEAA;

            @include var.breakPoint("inner"){
                width: 150px;
                height: 210px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            margin: 0 0 50px;
            padding: 0 0 5px;
            position: relative;
            display: block;
            width: 100%;
            border-bottom: solid 1px var.$dark-green;

            &--position {
                position: absolute;
                top: -45px;
                left: 50%;
                transform: translateX(-50%);
                display: inline-block;
                background: var.$theme-gradation;
                padding: 10px;
                width: 150px;
                font-size: 14px;
                text-align: center;
                line-height: 1;
                letter-spacing: .05em;
                color: #fff;
            }

            &--ja {
                display: block;
                text-align: center;
                font-size: 18px;
                color: var.$dark-green;
                letter-spacing: .3em;
            }

            &--en {
                position: absolute;
                left: 50%;
                bottom: -35px;
                transform: translateX(-50%);
                font-size: 22px;
                font-weight: 500;
                white-space: nowrap;
                color: var.$ttl-bg-green;
                letter-spacing: .05em;

                @include var.breakPoint("inner"){
                    font-size: 20px;
                }
            }
        }
    }

}
