@use '../config/variables' as var;

.treatment {
    overflow: hidden;
    margin: 0 0 200px;

    @include var.breakPoint("tb") {
        margin: 0 0 100px;
    }

    &__item {
        margin: 0 0 30px;

        @include var.breakPoint("tb") {
            margin: 0 0 20px;
        }

        &-ttl01, &-ttl01--num {
            color: #fff;
            font-weight: normal;
            line-height: 1;
            letter-spacing: .05em;
            transition: .8s;
        }

        &-ttl01 {
            position: relative;
            padding: 10px 20px 10px 50px;
            display: flex;
            align-items: center;
            width: calc(100% - 2px);
            height: 98px;
            outline-offset: 0;
            outline: solid 1px transparent;
            background: var.$theme-gradation;
            font-size: 22px;
            cursor: pointer;

            @include var.breakPoint("tb") {
                padding: 10px 20px 10px;
                height: 68px;
                font-size: 18px;
            }

            &:hover , &:hover .treatment__item-ttl01--num{
                color: var.$dark-green;
            }

            &:hover {
                outline: solid 1px var.$dark-green;
                background: #fff;
            }

            &:hover::before, &:hover::after {
                background: var.$dark-green;
            }

            &:before, &::after {
                content: "";
                position: absolute;
                background: #fff;
                width: 40px;
                height: 4px;
                top: 50%;
                right: 50px;
                transition: .8s;

                @include var.breakPoint("tb"){
                    height: 3px;
                    width: 30px;
                    right: 20px;
                }
            }

            &:after {
                transform: rotate(90deg);
            }

            &._open {

                &:after{
                    transform: rotate(0deg);
                }
            }

            &--num {
                position: relative;
                margin: 0 30px 0 0;
                font-size: 40px;
                
                @include var.breakPoint("tb"){
                    margin: 0 20px 0 0;
                    font-size: 30px;
                }
            }
        }

        &-inner {
            max-width: 850px;
            margin: 0 auto;
            padding: 30px;
            background: #fff;

            @include var.breakPoint("inner") {
                padding: 20px;
            }
        }

        &-cont {
            display: none;
            padding: 60px 30px;
            background: var.$bg-green;

            @include var.breakPoint("inner") {
                padding: 40px 20px;
            }
        }

        &-head {
            margin: 0 auto 60px;
            display: flex;
            justify-content: space-between;

            @include var.breakPoint("tb") {
                display: block;
            }
        }
        
        &-foot {
            margin: 0 auto;
        }

        &-txts {
            width: calc(50% - 30px);

            @include var.breakPoint("inner") {
                width: calc(100% - 370px);
            }

            @include var.breakPoint("tb") {
                margin: 0 0 20px;
                width: 100%;
            }
        }

        &-img {
            display: block;
            width: 400px;
            height: 215px;
            box-shadow: 10px 10px 0px #AABEAA;
            line-height: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include var.breakPoint("inner") {
                width: 350px;
                height: 180px;
            }

            @include var.breakPoint("tb") {
                margin: 0 auto;
                width: calc(100% - 20px);
                height: 18vh;
            }
        }

        &-ttl02 {
            margin: 0 0 20px;
            font-size: 18px;
            font-family: var.$noto-serif;
            color: var.$dark-green;
            font-weight: 600;
            line-height: 1.6;

            @include var.breakPoint("tb") {
                margin: 0 0 10px;
                font-size: 16px;
            }
        }

        &-lists{
            display: flex;
            margin: 30px 0 0;

            @include var.breakPoint("tb") {
                display: block;
                margin: 20px 0 0;
            }
        }

        &-list {
            width: 50%;

            @include var.breakPoint("tb"){
                margin: 0 0 30px;
                width: 100%;
            }
        }

        &-ttl04 {
            display: inline-block;
            margin: 0 0 20px;
            padding: 6px 20px;
            line-height: 1.6;
            background: var.$theme-gradation;
            color: #fff;

            @include var.breakPoint("tb"){
                padding: 4px 15px;
                margin: 0 0 10px;
            }
        }

        &-li {
            position: relative;
            padding:  0 20px 0 25px;
            margin: 0 0 10px;
            font-family: var.$noto-serif;
            font-weight: 600;
            line-height: 1.6;

            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 3px;
                width: 20px;
                height: 19.5px;
                background: url(../../img/checked.svg) center / cover no-repeat;

                @include var.breakPoint("tb") {
                    top: 4px;
                    width: 14px;
                    height: 13.5px;
                }
            }
        }

        &-btn {
            margin: 40px auto 0;


            @include var.breakPoint("tb"){
                margin: 0 auto;
            }

        }

    }

    &__qabnr{
        margin: 100px 0 0;
        transition: .5s;

        @include var.breakPoint("tb"){
            margin: 50px 0 0;
        }

        &:hover{
            opacity: .5;
        }
    }
}