@use '../config/variables' as var;

/*-----------------------------------------
 * 追加Reset
 *-----------------------------------------*/
* {
    color: var.$theme-bk;
    font-size: 16px;
    box-sizing: border-box;

    @include var.breakPoint("tb") {
        font-size: 14px;
    }
}

body {
    z-index: 0;

    &._fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

a {
    text-decoration: none;
    transition: 0.5s;
}

ul,ol,nav{
    list-style: none;
}

* {
    color: #333;
    font-family: var.$noto-sans;
}

h2,h3,h4,h5,h6 {
    font-weight: 600;
    font-family: var.$noto-serif;

    span {
        font-weight: 600;
        font-family: var.$noto-serif;
    }
}

img {
    max-width: 100%;
}



/*-----------------------------------------
 * 共通クラス（基本）
 *-----------------------------------------*/
 //文字色
.c-green {
    color: var.$dark-green;
}

//インナーサイズ
.c-inner {
    max-width: 1100px;
    margin: 0 auto;

    @include var.breakPoint("inner") {
        padding: 0 20px;
    }

    @include var.breakPoint("sp") {
        padding: 0 10px;
    }
}

//pcのみの表示
.c-pc {
    display: block;

    @include var.breakPoint("tb") {
        display: none;
    }
}

//spのみの表示
.c-sp {
    display: none;

    @include var.breakPoint("tb") {
        display: block;
    }
}

//PCのみの改行
.c-br--pc {
    display: block;

    @include var.breakPoint("tb"){
        display: none;
    }
}

//SPのみの改行
.c-br--sp {
    display: none;

    @include var.breakPoint("tb"){
        display: block;
    }
}

/*-----------------------------------------
 * inview
 *-----------------------------------------*/
//左から出現
.slide-left {
    filter: blur(100px);
    transform: translateX(-100%);
    opacity: 0;
    transition: 1.5s;

    &._view{
        filter: blur(0px);
        transform: translateX(0);
        opacity: 1;
    }
}


//右から出現
.slide-right {
    filter: blur(100px);
    transform: translateX(100%);
    opacity: 0;
    transition: 1.5s;

    &._view{
        filter: blur(0px);
        transform: translateX(0);
        opacity: 1;
    }
}

//下から浮き上がる
.slide-up {
    filter: blur(100px);
    transform: translateY(100%);
    opacity: 0;
    transition: 1.5s;

    &._view {
        filter: blur(0px);
        transform: translateY(0);
        opacity: 1;
    }
}

//徐々に表示
.fade {
    filter: blur(100px);
    opacity: 0;
    transition: 2s;

    &._view {
        filter: blur(0px);
        opacity: 1;
    }
}


/*-----------------------------------------
 * 共通ボタン
 *-----------------------------------------*/
 //電話ボタン
.c-phonebtn {
    display: block;
    position: relative;
    align-items: center;
    width: 220px;
    height: 90px;
    padding: 10px 10px;
    background: rgba(255,255,255,0.7);

    &:hover{
        opacity: 0.8;
    }

    &::after{
        content: "";
        position: absolute;
        display: block;
        top: 11px;
        left: 13px;
        width: 20px;
        height: 25px;
        background: url(../img/phone.svg) center / cover no-repeat;
    }

    &--number, &--time01, &--time02 {
        line-height: 1;
        letter-spacing: 0.01em;
    }

    &--number {
        padding-left: 30px;
        font-size: 25px;
        font-weight: bold;
    }

    &--time01, &--time02 {
        display: block;
        font-size: 12px;
    }

    &--time01{
        margin: 10px 0 5px;
    }
}

//ページ内のボタン（more)
.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 180px;
    height: 40px;
    border: solid 1px var.$dark-green;
    background: #fff;
    border-radius: 20px;

    @include var.breakPoint("sp") {
        width: 150px;
        height: 36px;
        border-radius: 18px;
    }

    &:hover{

        background: var.$theme-gradation;
        border: transparent;

        .c-btn--inner {
            color: #fff;
        }

        &::after{
            right: 6px;
            border-bottom: solid 1px #fff;
            border-right: solid 1px #fff;
        }
    }

    &--inner {
        position: relative;
        top: -2px;
        color: var.$dark-green;
        font-family: var.$noto-serif;

        @include var.breakPoint("sp") {
            font-size: 14px;
        }
    }

    &::after{
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        right: 10px;
        width: 30px;
        height: 3px;
        border-bottom: solid 1px var.$dark-green;
        border-right: solid 1px var.$dark-green;
        transform: skew(44deg);
        transition: .5s;

        @include var.breakPoint("sp") {
            width: 25px;
        }
    }
}

//LINEかんたん予約ボタン
.c-linebtn {
    display: block;
    width: 130px;
}


/*-----------------------------------------
 * 共通見出し
 *-----------------------------------------*/
 //h2
.c-h2 {
    margin: 0 0 100px;
    display: block;
    width: 100%;
    border-bottom: 3px solid;

    @include var.breakPoint("tb") {
        margin: 0 0 50px;
        border-bottom: 2px solid;
    }
    
    &.c-h2--left{
        border-image: var.$h2-left-border-gradation;

        @include var.breakPoint("inner") {
            border-image: var.$h2-left-border-gradation-inner;
        }
    }

    &.c-h2--right{
        border-image: var.$h2-right-border-gradation;

        @include var.breakPoint("inner") {
            border-image: var.$h2-right-border-gradation-inner;
        }
    }

    &.c-h2--info{
        .c-h2__ttl{
            &::after{
                content: "Information";
            }
        }
    }

    &.c-h2--points{
        .c-h2__ttl{
            &::after{
                content: "Points";
            }
        }
    }

    &.c-h2--treatment{
        .c-h2__ttl{
            &::after{
                content: "Treatment";
            }
        }
    }

    &.c-h2--staff{
        .c-h2__ttl{
            &::after{
                content: "Staff";
            }
        }
    }

    
    &__ttl {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 30px 35px 135px;

        @include var.breakPoint("inner") {
            width: 90%;
            margin: 0;
        }

        @include var.breakPoint("tb") {
            padding: 0 30px 20px 45px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 100px;
            height: 1px;
            background: var.$dark-green;

            @include var.breakPoint("tb") {
                top: 8px;
                width: 35px;
            }
        }

        &:after{
            content: "";
            position: absolute;
            top: -20px;
            right: 0;
            font-size: 70px;
            font-weight: normal;
            color: var.$ttl-bg-green;
            font-family: var.$noto-serif;
            z-index: -1;

            @include var.breakPoint("inner") {
                top: -20px;
                font-size: 70px;
            }

            @include var.breakPoint("tb") {
                top: 2px;
                right: -1%;
                font-size: 35px;
            }
        }

        &--en, &--ja {
            line-height: 1;
        }

        &--en {
            margin: 0 0 15px;
            font-size: 18px;
            color: var.$dark-green;

            @include var.breakPoint("tb") {
                margin: 0 0 5px;
                font-size: 14px;
            }
        }

        &--ja {
            font-size: 26px;

            @include var.breakPoint("tb") {
                font-size: 22px;
            }
        }
    }
}

 //h3v1
.c-h3 {
    display: block;
    width: 50%;
    border-bottom: solid 1px #A4D165;
    padding: 0 0 10px;
    margin: 0 0 40px;

    @include var.breakPoint("tb") {
        margin: 0 0 20px;
        width: 80%;
    }

    &.c-h3--right{
        margin-left: auto;

        .c-h3__ttl{
            margin-right: auto;
        }
    }

    &.c-h3--left{

        .c-h3__ttl{
            margin-left: auto;
        }
    }

    &__ttl {
        display: block;
        width: 550px;
        position: relative;
        z-index: 2;

        &--tag, &--txt {
            display: block;
        }

        &--tag {
            display:inline-block;
            background: var.$theme-gradation;
            color: #fff;
            margin: 0 0 10px;
            padding: 10px 20px;
            line-height: 1;
            font-size: 14px;

            @include var.breakPoint("tb") {
                padding: 10px;
                font-size: 12px;
            }
        }

        &--txt{
            font-weight: normal;
            font-size: 24px;
            color: var.$dark-green;

            @include var.breakPoint("tb") {
                font-size: 18px;
            }
        }
    }
}

//h3v2
.c-h3v2 {
    display: block;
    width: 100%;
    padding: 10px;
    color: var.$dark-green;
    font-size: 18px;
    font-family: var.$noto-serif;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    border-top: solid 1px var.$dark-green;
    border-bottom: solid 1px var.$dark-green;

    @include var.breakPoint("tb") {
        padding: 5px 10px;
        font-size: 16px;
        line-height: 1.7;
    }
}

.c-checklist{

    &__li,&__li--mini,&__ttl {
        font-family: var.$noto-serif;
        color: var.$dark-green;
        font-weight: 600;
        line-height: 1.6;
    }

    &__li,&__ttl{
        position: relative;
        padding:  0 0 0 35px;
        margin: 0 0 20px;
        font-size: 18px;

        @include var.breakPoint("tb") {
            padding: 0 0 0 25px;
            font-size: 16px;
        }

        &--mini{
            font-size: 15px;
        }

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            width: 25px;
            height: 24.5px;
            background: url(../img/checked.svg) center / cover no-repeat;

            @include var.breakPoint("tb") {
                width: 17px;
                height: 16.5px;
            }
        }
    }
}