@use '../config/variables' as var;

.footer {
    padding: 45px 0;
    background: var.$theme-gradation;

    @include var.breakPoint("tb") {
        padding: 30px 0 20px;
    }

    &__head {
        padding: 0 30px 50px;

        @include var.breakPoint("tb") {
            padding: 0 20px 30px;
        }
    }

    &__logo {
        width: 160px;
    }

    &__foot {
        width: calc(50% + 550px);
        padding: 40px 0 0;
        border-top: 2px solid;
        border-image: var.$footer-left-border-gradation;

        @include var.breakPoint("inner") {
            width: 100%;
        }

        &-inner {
            padding: 30px 0;
            background: var.$bg-white-gradation;

            @include var.breakPoint("tb") {
                background: rgba(255,255,255,0.6);
            }
        }
    }

    &__cont {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin-left: auto;

        @include var.breakPoint("tb") {
            display: block;
        }

        &-left,&-right{
            width: 50%;
            padding: 0 30px;

            @include var.breakPoint("inner+20") {
                padding: 0 20px;
            }
        }

        &-left {
            @include var.breakPoint("inner") {
                width: 60%;
            }

            @include var.breakPoint("tb") {
                width: 100%;
            }
        }

        &-right {
            @include var.breakPoint("inner") {
                width: 40%;
            }

            @include var.breakPoint("tb") {
                width: 100%;
            }
        }

    }

    &__calendar {
        width: 100%;
        border-collapse: collapse;

        &-line {
            border-top: solid 1px var.$dark-green;
            height: 33.3px;

            &--03{
                border-bottom: solid 1px var.$dark-green;
            }
        }

        &-th, &-td{
            letter-spacing: .05em;
            text-align: center;
        }

        &-td {

            img {
                width: 15px;

                @include var.breakPoint("tb") {
                    width: 12px;
                }
            }
        }

        &-none {
            position: relative;
            top: -6px;

            @include var.breakPoint("tb") {
                top: -4px;
            }
        }
    }

    &__contact {
        margin: 30px 0 0;
        display: flex;
        justify-content: center;

        @include var.breakPoint("tb") {
            margin: 10px 0 0;
        }

        &-phone {

            @include var.breakPoint("sp") {
                height: 80px;
            }

            &--number {

                @include var.breakPoint("sp") {
                    font-size: 21px;
                }
            }

            &--time01,&--time02 {
                @include var.breakPoint("sp") {
                    font-size: 11px;
                }
            }

            &--time01{
                @include var.breakPoint("sp") {
                    margin: 8px 0 5px;
                }
            }
        }

        &-linebtn {
            margin: 0 0 0 20px;
            display: block;
            line-height: 0;
            width: 180px
        }
    }

    &__gmap {
        width: 100%;
        height: 100px;

        @include var.breakPoint("tb") {
            margin: 30px 0 0;
        }
    }

    &__address {
        font-size: 15px;
        margin: 30px 0 0;

        @include var.breakPoint("tb") {
            margin: 10px 0 0;
        }

        &--green {
            font-weight: bold;
        }
    }

    &__copy {
        margin: 50px 0 0;
        font-size: 12px;
        color: #fff;
        text-align: center;
    }

}