@use '../config/variables' as var;

.header {

    &__info, &__nav, &__linebtn{
        display: block;
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 997;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 0;

        &-left {
            width: 160px;
            animation: fade 5.5s ease-in forwards;
        }

        &-right {
            display: none;

            @include var.breakPoint("pc") {
                display: flex;
            }
        }

        &-calendar {
            margin-right: 10px;
            width: 20px;
            border-spacing: 0;
            animation: fade 5.5s ease-in forwards;

            &-line{
                display: block;

                &--01,&--02,&--03{
                    display: flex;
                    align-items: center;
                    height: 30px;
                }

                &--01{
                    background: var.$theme-gradation;
                }

                &--02 {
                    position: relative;

                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: var.$dark-green;
                    }
                }

                &--02, &--03{
                    background: rgba(255,255,255,0.7);
                }
            }

            &-th, &-td {
                position: relative;
                font-size: 14px;
            }

            &-th {
                text-align: center;
                font-weight: 600;
                color: #fff;

                &--time {
                    width: 110px;
                }

                &--day {
                    width: 35px;
                }
            }

            &-td {
                width: 35px;
                text-align: center;

                &--time{
                    width: 110px;
                }
            }

            &-radius {
                width: 9px;
                height: 9px;
            }

            &-none{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 9px;
            }
        }

        &-phone {
            animation: fade 5.5s ease-in forwards;
        }

    }

    &__nav {


        &-btn {
            cursor: pointer;
            width: 80px;
            height: 75px;
            background: var.$theme-gradation;
            position: fixed;
            top: 0;
            right: -80px;
            z-index: 999;
            visibility: hidden;
            transition: .5s;

            @include var.breakPoint("tb") {
                right: 0;
                visibility: visible;
            }

            &._show {
                visibility: visible;
                right: 0;
            }
        
            &:hover {
                opacity: 0.8;
            }

            &._open{
                visibility: visible;
                background: transparent;
                right: 10px;

                .header__nav-btn--line {

                    &:nth-child(1) {
                        top: 18%;
                        left: 50%;
                        transform: rotate(-35deg) translate(-50%, 50%);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        top: 53%;
                        left: 50%;
                        transform: rotate(35deg) translate(-50%, 50%);
                    }
                }

                .header__nav-btn--text{
                    transform: translate(-40%, 190%);
                }

            }

            &--line {
                position: absolute;
                display: block;
                background: #fff;
                width: 45px;
                height: 3px;
                left: 50%;
                transform: translate(-50%, -180%);
                transition: 0.5s;

                &:nth-child(1) {
                    top: 30%;
                }

                &:nth-child(2) {
                    top: 45%;
                }

                &:nth-child(3) {
                    top: 60%;
                }
                
            }

            &--text {
                position: absolute;
                color: #fff;
                font-family: var.$noto-serif;
                font-weight: 600;
                height: 5px;
                font-size: 14px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 190%);
                letter-spacing: 0.1em;
            }
        }

        &-overlay{
            display: none;
            visibility: hidden;
            position: fixed;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 998;
            display: none;
            transition: 0.5s;

            &._open{
                display: block;
                visibility: visible;
            }

            &-inner {
                overflow: scroll;
                position: absolute;
                width: 350px;
                height: 100%;
                right: 0;
                top: 0;
                background: var.$theme-gradation;
                transition: .5s;

                @include var.breakPoint("tb"){
                    width: 100%;
                }
            }

            &-logo {
                padding: 10px;
                width: 150px;
                height: auto;
            }

            &-nav {
                list-style: none;


                li:not(:last-child) {
                    text-align: center;
                    line-height: 1.3;

                    a {
                        display: block;
                        padding: 20px;
                        font-family: var.$noto-serif;
                        font-size: 220x;
                        border-bottom: solid 1px var.$dark-green;
                        letter-spacing: 0.1em;
                        background: var.$bg-green;
                        transition: 0.5s;

                        &:hover{
                            background: var.$theme-gradation;
                            color: #fff;
                        }
                    }
                }

                li{

                    &:last-child{
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;


                        @include var.breakPoint("tb"){
                            margin: 0 auto;
                            max-width: 340px;
                        }
                    }
                }

                &-phonebtn{
                    width: 180px;
                    height: 65px;
                    padding: 5px 10px 2px;
                    background: rgba(255,255,255,0.8);

                    &::after{
                        top: 5px;
                        left: 9px;
                        width: 15px;
                        height: 20px;
                    }

                    &--number {
                        padding-left: 20px;
                        font-size: 20px;
                    }

                    &--time01, &--time02 {
                        font-size: 10px;
                    }

                    &--time01{
                        margin: 4px 0 3px;
                    }
                }
            }
        }
    }

    &__linebtn {
        position: fixed;
        top: 85px;
        right: 0;
        z-index: 997;
        width: 80px;
        height: 125px;
        background: var.$line-green;
        visibility: hidden;
        right: -80px;
        transition: .5s;

        &._show{
            @include var.breakPoint("pc") {
                right: 0;
                visibility: visible;
            }

            @include var.breakPoint("tb"){
                right: -80px;
                visibility: hidden;
            }
        }

        &:hover{
            opacity: 0.8;
        }

        &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 47px;
            height: 45px;
            background: url(../img/line.svg) center / cover no-repeat;
        }

        &--txt {
            position: absolute;
            bottom: 15px;
            line-height: 1.3;
            display: block;
            width: 100%;
            color: #fff;
            font-size: 15px;
            letter-spacing: 0.05em;
            font-weight: bold;
            text-align: center;
        }
    }

    @keyframes fade {

        0% {
            filter: blur(100px);
            opacity: 0;
        }

        90% {
            filter: blur(100px);
            opacity: 0;
        }

        100% {
            filter: blur(0px);
            transform: translateY(0);
            opacity: 1;
        }
    }

}